
<link rel="stylesheet" href="css/chat_box.css">
<div id="chatbox-heading">
    <h1>Welcome to our Chat Rooms!!</h1>
</div>


<div class="chat-home">
    <div class="chat-seperate">
        <div class="category">
            <a href="/chatbox/Equity">Equity</a>
        </div>
    </div>
    <div class="chat-seperate">
        <div class="category">
            <a href="/chatbox/Derivatives">Derivatives</a>
        </div>
        
    </div>
    <div class="chat-seperate">
        <div class="category">
            <a href="/chatbox/IPO">IPO</a>
        </div>
        
    </div>
    <div class="chat-seperate">   
        <div class="category">
            <a href="/chatbox/Mutual-Funds">Mutual-Funds</a>
        </div>
        
    </div>
</div>

<div style="height:10.2vh; bottom: 0; width: 100%; position:fixed">
    <p></p>
</div>