<header>
    <h1 id="heading">CODEIAL</h1>
    <ul>
        <%if(locals.user){%>
            <li id="profile-name">
                <a href="/users/profile/<%= user._id %>">
                    <%=user.name%>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>

        <%}else{%>
            <li>
                <a href="/users/sign-in" id="">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <%}%>
    </ul>




</header>
