


<% if(token.is_Valid == true) {%>
    <h2><%= title %></h2>
    <form action="/users/change_password/<%= token.accessToken%>" method="POST">
        <input type="password" name="password" required placeholder="New Password">
        <input type="password" name="confirm_password" required placeholder="Confirm Password">
        <button type="submit" class="btn btn">Submit</button>

    </form>

<%}else{%>
    <h2>Your token has expired!!</h2>
<%}%>
