<h1>Forgot Password!</h1>

<form action="/users/reset" method="POST">
    <p>Enter email of the account..</p>
    <input type="email" name="email" placeholder="abc@example.com" required>
    <button type="submit">Submit</button>

</form>
