
    <h1>SIGN UP</h1>
        <form action="/users/create" method="POST">
            <!-- <label for="Create Account">Create Account</label><br> -->
            <input name="name" type="text" placeholder="Enter your name" required>
            <input name="email" type="email" placeholder="abc@gmail.com" required>
            <input name="password" type="password" placeholder="password" required>
            <input name="confirm_password" type="password" placeholder="confirm_password" required>
            <button type="submit">CREATE ACCOUNT</button>
        </form>
