
<h1>SIGN IN</h1>
<form action="/users/create-session" method="POST">
    <!-- <label for="Enter your email">Sign in your Account</label> -->
    <input name="email" type="email" placeholder="abc@gmail.com" required>
    <input name="password" type="password" placeholder="password" required>
    <p>
        <a href="/users/forgot-password">Forgot Password</a>
    </p>

    <button type="submit" value="Sign In">Sign In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>
