footer{
    position: absolute;
    bottom: 0%;
    padding-left: 2%;
    background-color: blanchedalmond;
    height: 6vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    // #author{
    //     display: inline-block;
    // }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 2;
        li{
            width: 5vw;
        }
    }


}