#home-container{
    
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    #feed-post{
        padding-left: 3%;
        width: 75%;
        #textbox{
            margin-top: 10px;
            width: 100%;
        }
        #post-btn{
            width: 10%;
            margin-top: 8px;
            background-color: red;
            margin-left:90%;
        }
        .post-block{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        #post-btn:hover{
            background-color:green;
        }
    }
    #users-friends{
        width: 20%;
        text-align: center;
        padding:5px 10px 0px 0px;
        margin-right: 20px;
        font-size: 20px;
        border: 0px solid black;
        
    }
}