body {
  background-color: rgba(0, 0, 0, 0.19); }

#chatbox-heading {
  padding-top: 1%;
  height: 9%;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px; }

#chatroom {
  display: flex;
  align-items: center;
  margin: 4%;
  max-height: 1000px; }
  #chatroom .chat-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #chatroom .chat-home .chat-seperate {
      padding: 5px;
      height: 130px;
      width: 250px;
      background-color: #d3cccc; }
      #chatroom .chat-home .chat-seperate .category {
        height: 100%;
        width: 100%;
        font: size 2rem;
        text-align: center;
        background-color: black; }
        #chatroom .chat-home .chat-seperate .category p {
          padding-top: 30px;
          font-size: 1.5rem; }
          #chatroom .chat-home .chat-seperate .category p .link {
            color: white; }
          #chatroom .chat-home .chat-seperate .category p .link:hover {
            color: red;
            font-size: 2rem; }
  #chatroom #room-content {
    padding-top: 15px;
    width: 100%;
    max-height: 900px;
    display: flex;
    justify-content: center; }
    #chatroom #room-content #chatbox-start {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      height: 90%;
      width: 70%; }
      #chatroom #room-content #chatbox-start p {
        text-align: center;
        height: 100%;
        font-size: 3rem; }

::-webkit-scrollbar {
  display: none; }

#chat-box {
  margin-left: 4%;
  width: 70%;
  border: 1px solid black;
  box-shadow: 0px 6px 12px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 600px;
  max-height: 600px; }
  #chat-box #message-list-container {
    overflow: scroll;
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    background-color: rgba(224, 219, 219, 0.993);
    border-radius: 5px 5px 5px 5px; }
    #chat-box #message-list-container .seperate-message {
      margin: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 5px 5px 5px 5px; }
      #chat-box #message-list-container .seperate-message .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #105810;
        border-radius: 5px 5px 0px 0px; }
        #chat-box #message-list-container .seperate-message .details #user-name {
          padding: 3px;
          font-size: 1.1rem;
          color: white; }
        #chat-box #message-list-container .seperate-message .details .message-setting {
          padding: 3px; }
          #chat-box #message-list-container .seperate-message .details .message-setting .icon {
            color: white; }
          #chat-box #message-list-container .seperate-message .details .message-setting .icon:hover {
            color: red; }
      #chat-box #message-list-container .seperate-message #user_detail {
        background-color: #0f0f8f; }
      #chat-box #message-list-container .seperate-message .message {
        padding: 8px;
        text-align: justify; }
        #chat-box #message-list-container .seperate-message .message .message-details {
          padding: 5px; }
      #chat-box #message-list-container .seperate-message .message-info {
        padding: 2px;
        background-color: #a9aaa4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0px 0px 5px 5px; }
  #chat-box #message-form {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #chat-box #message-form #message-input, #chat-box #message-form #message-link {
      width: 70%;
      border: 1px solid grey;
      outline: none;
      padding: 3px; }
    #chat-box #message-form #message-input {
      width: 100%; }
    #chat-box #message-form #send-message {
      width: 30%;
      padding: 3px;
      font-size: 1rem;
      color: white;
      border: none;
      background-color: red; }
    #chat-box #message-form #send-message:hover {
      background-color: lightcoral; }

::-webkit-scrollbar {
  display: none; }

@media screen and (max-width: 800px) {
  #chat-box {
    width: 80%; } }
