#home-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start; }
  #home-container #feed-post {
    padding-left: 2%;
    width: 75%; }
  #home-container #users-friends {
    width: 25%;
    border-left: black; }
